/* ------------------------------------- */
.first_box {
  margin-top: 95px;
}
.first_box_heading {
  gap: 50px;
}
.icon_first_box {
  gap: 22px;
}
.icon_first_box_share {
  height: 25px;
  width: 24px;
  gap: 14px;
}

.second_box {
  gap: 10px;
  position: relative;
  margin-top: 50px;
}
.left_box_wrap1_inner_postion {
  position: absolute;
  top: 85%;
  left: 1%;
  font-size: 14px;
}

.right_box_wrap1 {
  gap: 10px;
}
.right_box_wrap1_inner_img {
  gap: 10px;
}
.left_box_wrap1_inner_postion {
  gap: 10px;
}
.play_icon_vedio {
  gap: 8px;
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 150px;
  width: 200px;
  height: 50px;
}

.third_box {
  margin-top: 50px;
  gap: 40px;
}

.third_box_left_wrap1 {
  gap: 60px;
}
.third_box_left_wrap1_inner_box {
  gap: 10px;
}
.third_box_left_wrap1_inner_box_p {
  font-size: 14px;
  line-height: 150%;
  color: #727488;
}
.third_box_left_wrap1_inner_box_h4 {
  font-size: 18px;
  line-height: 22px;
}

.third_box_left_wrap1_bottom {
  margin-top: 30px;
  border-top: 1px solid #727488;
  width: 600px;
  padding-top: 30px;
  gap: 60px;
}

.third_box_left_wrap1_bottom_div {
  gap: 12px;
  font-size: 16px;
}
.third_box_left_wrap1_bottom_div img {
  width: 20px;
  height: 20px;
}

.third_box_left_wrap1_bottom_div p {
  color: #727488;
}

.third_box_left_wrap2,
.third_box_left_wrap3 {
  margin-top: 70px;
}

.third_box_left_wrap2 p {
  background: #eeeeee;
  border-radius: 4px;
  width: 680px;
  height: 15px;
  margin: 20px 0px;
}

.third_box_left_wrap2_end_p {
  width: 320px;
  height: 15px;
  background: #eeeeee;
  border-radius: 4px;
}
.third_box_left_wrap3_inner {
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #c0c2d7;
  border-radius: 200px;
  width: 280px;
  height: 45px;
  justify-content: flex-start;
}
.third_box_left_wrap3_inner_p {
  border-right: 1px solid #c0c2d7;
  padding-right: 90px;
  padding-left: 15px;
}
.third_box_left_wrap3_inner_p2 {
  padding-left: 15px;
}

.third_box_right {
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 4px 50px rgba(5, 9, 22, 0.12);
  border-radius: 20px;
  width: 630px;
  height: 640px;
  padding: 50px;
}
.third_box_right_wrap1 {
  margin-top: 20px;
  gap: 59px;
}
.p-p-d-box {
  gap: 75px;
}
.p-p-d-box_inner {
  gap: 20px;
}
.p-p-d {
  gap: 6px;
}
.p-p-d p {
  font-size: 12px;
  color: #727488;
}
.zalog-box {
  border-left: 1px solid #7274888f;
  padding-left: 50px;
  gap: 6px;
}
.zalog_img {
  background: #c0c2d7;
  border-radius: 100px;
  width: 28px;
  height: 28px;
}
.zalog {
  gap: 10px;
}
.zalog_p {
  font-size: 12px;
  color: #727488;
}
.third_box_right_wrap2 {
  margin-top: 25px;
  gap: 20px;
  align-items: center;
  border-top: 1px solid #7274888f;
  padding-top: 30px;
  padding-bottom: 30px;
}
.third_box_right_wrap3 {
  border-top: 1px solid #7274888f;
  padding-top: 30px;
  gap: 20px;
}
.third_box_right_wrap3_inner {
  gap: 20px;
  align-items: center;
}
.third_box_right_wrap4 {
  margin-top: 50px;
  gap: 20px;
}
.third_box_right_wrap4_btn1 {
  background: #ffffff;
  border: 1px solid #c0c2d7;
  box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.1);
  border-radius: 150px;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  width: 192px;
  height: 40px;
  margin-right: 20px;
}
.third_box_right_wrap4_btn2 {
  width: 318px;
  height: 40px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #c0c2d7;
  box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.1);
  border-radius: 150px;
  font-weight: 600;
  color: #333333;
}
.fourth_box{
    margin-top: 110px;
}
.fourth_box_inner_1 {
    gap: 40px;

}
.fourth_box_inner_1 img{
    box-shadow: 0px 20px 60px rgba(5, 9, 22, 0.3);
    border-radius: 20px;
}